AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=
AWS_DEFAULT_REGION=us-east-1
LOG_GROUP_NAME=/aws/bedrock-agentcore/runtimes/ai_exception_prod_ExceptionAgent-eEqZuQ3GF1-DEFAULT
LOG_FILTER_PATTERN={ $.level = "TRACE" }
LOG_LEVEL=INFO
MAX_LOG_EVENTS=50000
